{% extends 'base.html' %}

{% block title %}
{{ title }}
{% endblock title %}

{% load static %}


{% block main %}

<div class="card mb-3" style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="{% static 'blog/img/user.png' %}" class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Ваш профиль</h5>
        <p class="card-text">Имя пользователья: {{ request.user.username }} </p>
        <p class="card-text">Имя и фамилия: {{ request.user.first_name}} {{ request.user.last_name }} </p>
        <p class="card-text"><small class="text-muted">{{ request.user.date_joined }}</small></p>
      </div>
    </div>
  </div>
</div>

{% endblock main %}