{% extends 'base.html' %}

{% block title %}
{{ title }}

{% endblock title %}
{% block main %}

<div class="d-flex justify-content-center mx-auto">
    <div class="col-4 card p-2">

<form action="" method="post">
    {% csrf_token %}

    <label for="{ form.username.id_for_label }">
        Имя пользователя
    </label> {{ form.username }}
    <label for="{{ form.password_id_for_label }}">
        Пароль

    </label>

    <input type="password" name="password" class="form-control" requiered="required" id="id_password">
    <div class="d-flex justify-content-between">
        <div>
            <input type="checkbox" class="form-check-input" id="box" onclick="reveal()"> Показать пароль
        </div>
    <button class="btn btn-primary mt-2">Войти</button>
    </div>
    <script type="text/javascript">
    function reveal()
    {
      if(document.getElementById('box').checked)
      {
        document.getElementById('id_password').type='text';
      }
      else
        document.getElementById('id_password').type='password';
    }
  </script>


</form>
        </div>
</div>
{% endblock main %}